.topnav1 {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
    background-color: #444;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Make the navigation take up the full height of the page */
    padding: 1em; /* Add padding around the items */
    z-index: 1000;
  }


  .topnav1 .topbut {
    width: 100%; /* Make each button stretch across the full width */
    padding: 15px;
    color: #d4af37;
    text-decoration: none;
    text-align: left; /* Align text to the left */
    font-size: 1rem;
  }
  
  .topnav1 .topbut:hover {
    background-color: lightslategrey;
    border-radius: 5px;
  }

  .nav-divider {
    width: 90%; /* Match the width of the navlinks */
    border: 0;
    height: 1px;
    background-color: white;
    margin: 5px 0; /* Add spacing around the divider */
    opacity: 0.5; /* Make it slightly transparent */
  }

  